.current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.current-weather.card {
    align-items: stretch;
    width: 100%;
}
.current-weather > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.current-weather .temperature {
    font-size: 80px;
}

.location-time {
    text-align: right;
}
.location-time :first-child {
    font-size: 2rem;
    font-weight: 500;
}


.sky-info {
    align-items: center;
}
.sky-info > div {
    display: flex;
    align-items: center;
    gap: 12px;
}