body {
    background-color: #030617;
    background-image: url('/imgs/background.svg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #20293a;
}